 /* Category-Select  page style Start */

 .selected-ent div{
    width: 192px;
    display: flex;
    padding:10px;
    gap: 25px;
    border-radius: 31px;
    background: #148A08;  
    text-align:center ;
}
.selected-ent div p{
    width: 112px;
    color: #fff;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.5px;
}
.selected-ent div span{
    color:#085C00;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
 }

/* Category-Select  page style end */

/* MovieBox  page style Start */
.Databox{
    border-radius: 30px;
 }
.Databox div{
border-radius: 24px;
display: flex;
flex-direction: column;
gap: 10px;
padding: 10px;
cursor: pointer;
}
.Databox h1{
color: white;
font-family: "DM Sans";
font-size: 25px;
font-weight: 500;
}

/* MovieBox  page style end */

/* RegisterForm page style start */

.FormData div {
    display: flex;
    flex-direction: column;
  }
  .FormData input{
    width: 518px;
    height: 55px;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #292929;
    padding: 20px;
    font-family: "DM Sans";
    font-size: 21px;
    font-weight: 400;
    color: #7c7c7c;
  }

  .FormData div p{
    color: #f00;
    font-family: "DM Sans";
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0.4px;
  }
  .check {
    display: flex;
    flex-direction: row;
    align-self: baseline;
    gap:10px;
    
  }
   
  .checkerr {
    color: #f00;
    font-family: "DM Sans";
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0.4px;
    width: 518px;
  }
  .check input {
    width: 30px;
    height: 20px;
  }

  .FormData button {
    all: unset;
    width: 518px;
    height: 55px;
    border-radius: 28px;
    background: #72db73;
    font-family: "Roboto";
    font-size: 29px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1.6px;
    color: white;
    text-align: center;
    cursor: pointer;
  }


  /* RegisterForm page style end */
/* UserInfo page style Start */
  .userinfo{ 
    width: 507px;
    height: 318px;
    border-radius: 34px;
    background: #5746EA;
  }
  .mainsection{
    width:480px ;
    margin:0 auto;
    display: grid;
    grid-template-areas:
    "s1 s2"
    "s1 s3"
    
    ;
    padding-top:20px;
    gap:15px;
  }
  .userimg img {
    width: 127px;
    height: 291px;
  }
  .userdata{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #FFF;
    font-family: 'Roboto';
    line-height: 21px;
    letter-spacing: .42px;
  }
  .userdata p{
    font-size: 21px;
    font-weight: 400;

  }
  .movie{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .selectedmovie{
    width: 135px;
    height: 35px;
    border-radius: 21px;
    color: #FFF;
    background-color:#9F94FF;
    font-family: 'Roboto';
    line-height: 16px;
    letter-spacing: 2%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
  }
  
  /* UserInfo page style end */

  /* WetherApi page style Start */
  .wetherinfo{
    width: 507px;
    height: 200px;
    border-radius: 19px;
    background: #101744;
  }
  .Datetime{
    width: 507px;
    height: 57px;
    border-radius: 19px 19px 0 0;
    background: #FF4ADE;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.6px;
    display: grid;
    grid-template-columns: 1fr ;
    place-items: center;
  }
  .forcast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 490px;
    margin: 0 auto;
    padding: 0 14px;
    color: #FFF;
    font-family: 'Roboto';
  }
  .forcasts{
    width: 140px;
    text-align: center;
    padding: 10px;
  }
  .forcasts p{
    font-size: 16px;
    font-weight: 400;
  }
  .forcasts h1{
    font-size: 44px;
    font-weight: 400;
  }
  .line{
    width: 0.8px;
    height: 70px;
    background: rgb(255, 255, 255);
    margin-top: 24px;
  }
  
  /* WetherApi page style end */
  /* Notes page style Start */

    .Notes{
      width: 470px;
      height: 535px;
      border-radius: 19px;
      font-size: 'Roboto';
      background: #F1C75B;
      color: #000;
    }
    .Notes h2{
      text-align: left;
      font-size: 35px;
      font-weight: 600;
      padding: 20px;
    }
    .Notes div{

      width: 450px;
      height: 450px;
      margin: 0 auto;
    }
    .Notes div textarea{
      background: #F1C75B;
      width: 450px;
      height: 450px;
      border: none;
      outline: none;
      resize: none;
      font-size: 21px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.8px;
    }
  /* WetherApi page style end */


