 /* Category-Select  page style Start */

 .selected-ent div{
    width: 192px;
    display: flex;
    padding:10px;
    gap: 25px;
    border-radius: 31px;
    background: #148A08;  
    text-align:center ;
}
.selected-ent div p{
    width: 112px;
    color: #fff;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.5px;
}
.selected-ent div span{
    color:#085C00;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
 }

/* Category-Select  page style end */

/* MovieBox  page style Start */
.Databox{
    border-radius: 30px;
    width: 15.06vw;
 }
.Databox div{
border-radius: 24px;
display: flex;
flex-direction: column;

padding: 10px;
cursor: pointer;
}
.Databox h1{
color: white;
font-family: "DM Sans";
font-size: 25px;
font-weight: 500;
}

/* MovieBox  page style end */

/* RegisterForm page style start */

  .FormData{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 21px;
  }
.FormData  .inputindex {
    display: flex;
    flex-direction: column;
  }
  .FormData input{
    width: 41vw;
    height: 9vh;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #292929;
    padding: 20px;
    font-family: "DM Sans";
    font-size: 21px;
    font-weight: 400;
    color: #7c7c7c;
  }

  .FormData  .inputindex p{
    color: #f00;
    font-family: "DM Sans";
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0.4px;
  }
  .check {
    display: flex;
    flex-direction: row;
    align-self: baseline;
    gap:10px;
    width:'40.375vw'
    
  }
   .check label{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    color:#7C7C7C
   }
  .checkerr {
    color: #f00;
    font-family: "DM Sans";
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0.4px;
    width: 518px;
  }
  .check input {
    width: 1.56vw;
    height: 3.16vh;
  }

  .FormData button {
    all: unset;
    padding: 15px;
    border-radius: 28px;
    background: #72db73;
    font-family: "Roboto";
    font-size: 29px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1.6px;
    color: white;
    text-align: center;
    cursor: pointer;
  }


  /* RegisterForm page style end */
/* UserInfo page style Start */
  .userinfo{ 
    width: 32.32vw;
    
    border-radius: 34px;
    background: #5746EA;
    
  }
  .mainsection{
    width:31.06vw ;
    margin:0 auto;
    display: grid;
    grid-template-areas:
    "s1 s2"
    "s1 s3"
    
    ;
    padding-top:20px;
    gap:5px;
  }
  .userimg ,.userimg img {
    width: 9.89vw;
    height: 220px;
    
  }
  .userdata{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFF;
    font-family: 'Roboto';
    line-height: 21px;
    letter-spacing: .42px;
  }
  .userdata p{
    font-size: 20px;
    font-weight: 400;

  }
  .movie{
    display: grid;
    
    gap: 10px;
  }
  .selectedmovie{
    /* width: 16.89vw; */
    
    border-radius: 21px;
    color: #FFF;
    background-color:#9F94FF;
    font-family: 'Roboto';
    line-height: 16px;
    letter-spacing: 2%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
  }
  
  /* UserInfo page style end */

  /* WetherApi page style Start */
  .wetherinfo{
   
    border-radius: 19px;
    background: #101744;
    
  }
  .Datetime{
    width: 32.52vw;
   
    border-radius: 19px 19px 0 0;
    background: #FF4ADE;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.6px;
    display: grid;
    grid-template-columns: 1fr ;
    place-items: center;
  }
  .forcast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 32.32vw;
    margin: 0 auto;
    padding: 0px 14px;
    color: #FFF;
    font-family: 'Roboto';
  }
  .forcasts{
    width: 10.33vw;
    text-align: center;
    padding: 8px;
  }
  .forcasts p{
    font-size: 16px;
    font-weight:400;
  }
  .forcasts h1{
    font-size: 30px;
    font-weight: 400;
  }
  .line{
    width: 0.8px;
  
    background: rgb(255, 255, 255);
    margin-top: 20px;
  }
  
  /* WetherApi page style end */
  /* Notes page style Start */

    .Notes{
      width: 25.31vw;
      
      border-radius: 19px;
      font-family: 'Roboto';
      background: #F1C75B;
      color: #000;
      
    }
    .Notes h2{
      text-align: left;
      font-size: 35px;
      font-weight: 600;
      padding: 20px;
    }
    .Notes div{

      width: 24.80vw;
      
      margin: 0 auto;
    }
    .Notes div textarea{
      background: #F1C75B;
      width: 24.80vw;
      
      border: none;
      outline: none;
      resize: none;
      font-size: 21px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.8px;
    }
  /* WetherApi page style end */
  /* Timer page style start */

  .timer{
   
    width: 59vw;
    font-family: 'Roboto';
    
    border-radius: 19px;
    background: #1E2343;
    display: flex;
    justify-content: space-around;
  }
  .timerbtn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    place-items: center;

  }

  .timerbtn button{
    all: unset;
    width: 26px;
    margin: 0 auto;
    cursor: pointer;
  }
  .timerbtn h1{
    all: unset;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 4%;
    color: #FFF;
    width: 26px;
    margin: 0 auto;
  }
  .timerbtn p{
    font-size: 23px;
    color: #949494;
    font-weight: 300;
    
  }
  .btnHMS{
    display: flex;
    flex-direction: column;
    
  }
  .startstop{
    display: grid;
    gap: 20px;
    width: 26vw;
    margin: 0 auto;
    grid-template-columns: 1.1fr 1fr;
  }
  .startstop button{
    all: unset;
    background:  #FF6A6A;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
    /* width: 10vw; */
    text-align: center;
    color: #FFF;
    font-size: 27px;
    font-weight: 300;

  }
  
  /* Timer page style end */
  /* NewApi page style start */
  .newsApi{
    
    width: 27.89vw;
    background: #FFF;
    border-radius: 19px;
    color :#FFF;
    font-family: 'Roboto';
    
    
  }
  .newImg img{
    border-radius:19px 19px 0 0;
    width: 27.89vw;
    height: 300px;
  }
  .newImg{
    width:  27.89vw;
    /* height: 60vh; */
    border-radius:19px 19px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .newTitle{
    
    background: rgba(0, 0, 0, 0.74);
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    position: absolute;
    width: 27.89vw;
  }
  .newTitle p{
      font-size: 27px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0.7px;
      padding-bottom: 15px;
  }
  .newTitle p{
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.4px;
  }

  .newdesc p {
    padding:20px 15px;
    color: #272727;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
  }
  /* NewApi page style end */
  /* Movie page style end */
  .header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;

  }
    .header h1{
      color: #72db73;
      font-family: "Single Day", cursive;
      font-size: 32px;
      font-weight: 400;
      
    }
    .header img{
      border-radius: 50%;
      cursor: pointer;
    }

  /* Movie page style end */

/* media */

/* media */