@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Dangrek&family=Delius+Unicase:wght@400;700&family=Inter:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@500&family=Poppins&family=Raleway:wght@400;600;700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM+Sans',sans-serif;
}
body{
    width: 100%;
    background-color: #000;
}
/* Register Index page style start */
.register-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #000; 
}
.registerform{
  color: white;
  width: 41vw;
  margin: 0 auto; 
}
.bgimgsection{
  background:url(./assets/Rock.png), lightgray 0px -49.673px / 100% 113.358% no-repeat;
  width: 50vw;
}
.Rockimg{
    margin: 550px 84px 0px 62px;
}
.Rockimg h1{
    color: #FFF;
    font-family: 'Roboto',sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 141.688%; /* 77.928px */
    letter-spacing: 1.1px;
}
.AppTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-top: 10px; */
  }
  .AppTitle h1 {
    color: #72db73;
    font-family: "Single Day", cursive;
    font-size: 65px;
    font-weight: 400;
    line-height: 94px;
  }
  .AppTitle p {
    font-family: "DM Sans";
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .term-privacy {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    width: 41vw;
    margin: 0 auto;
    margin-top: 25px;
    color: #7c7c7c;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
  }
  .term-privacy span {
    color: #72db73;
  }
 
  /* Register Index page style end */
  
  /* Info  page style start */
  .info-main{
    background-color: #000;
    display: grid;
    grid-template-columns: .7fr 1fr
  }
  .category-box{
    width:30.49vw;
     margin:0 auto;
    margin-Top:30px;
  }
  .category-section{
    margin-top:40px;
     width:55vw
  }
  .choose-text h2{
    color: #72db73;
    font-family: 'Single Day',cursive;
    font-size: 65px;
    font-weight: 400;
    /* line-height: 94px; */
    margin-bottom: 12px;
}
.choose-text h1{
    color: #FFF;
    font-family: 'Roboto',sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 80px; 77.928px */
    letter-spacing: 1.1px;
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:27px;
    margin-bottom: 30px;
    
}
.min-category{
    color: #f00;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.503px;
    
}

.category-item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:25px;
  width: 54.75vw;
  margin: 0 auto;
}
.Nextpage{
  display: flex;
  margin: 3.116vh 2.85vw;
  justify-content: end;
}
.Nextpage button {
  all: unset;
  padding: 15px;
  text-align: center;
  font-family: "DM Sans";
  font-size: 26px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  border-radius: 38.857px;
  background: #148A08;
  cursor: pointer;
}

  /* Info  page style end */
  /* showcase  page style start */
  .showcase{
    
    display: grid;
    grid-template-areas: "c1 c3 c5"
                         "c2 c3 c5"
                         "c4 c4 c5"     
      ;
      gap: 15px;
      padding: 10px 10px;
      place-content: center;
  }
  /* showcase  page style end */

 .Brower{
  all: unset;
  float:right;
  margin: 0px 32px 0px 0px;
  padding: 10px 18px;
  text-align: center;
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  border-radius: 38.857px;
  background: #148A08;
  cursor: pointer;
  color: #FFF;
 }

  
  /* media 1030px  */
    @media (max-width:1030px){
      .userinfo,.wetherinfo, .Datetime{
        width: 40vw;
      }
      .timer{
        width: 67vw;
      }

    }
    .mainsection{
      width: 32.06vw;
    }
  /* media 1030px  */
  /* media 830px  */
  @media (max-width:830px){
    .showcase{
      grid-template-areas: "c1 c3 "
                           "c2 c3 "
                           "c5 c4 "     
      ;

    }
   .userinfo,.wetherinfo, .Datetime{
    width: 50vw;
  }
  .timer{
    width: 37vw;
    flex-direction: column;
    align-items: center;
  } 
  .timerseciton, .Notes  {
    width: 37vw;
  }
  .newsApi,.newImg img, .newTitle{
    width: 50vw;
  }
  .newsApi{
    height: 600px;
  }
}
  /* media 830px  */
  /* media 770px  */

  @media (max-width:770px) {
    /* Regiter */
    .register-main{
      display: grid;
      grid-template-columns: 1fr;
    }
    .bgimgsection{
      width: 100vw;
    }
    .registerform{
      width: 93vw;
    }
    
    .FormData{
        width: 79vw;
        margin: 0 auto;   
    }
    .FormData input{
     width: 80vw;
    }


    .check input {
      width: 5vw;
    }
    .term-privacy{
      width: 80vw;
      margin: 20px auto 20px  ;
    }
    
  
   /* Regiter */
   /* Info */
    .info-main{
      grid-template-columns: 1fr;
      width: 90vw;
      margin: 0 auto;
    }
    .category-box{
      width: 90vw;
    }
    .category-section{
      width: 90vw;
    }
    .category-item{
      width: 78vw;
    }
    .Databox{
      width: 23vw;
    }
    .choosed-item{
      width: 53vw;
    }
    .showcase{
      grid-template-areas:
        "c1"
        "c2"
        "c3"
        "c4"
        "c5";
}
    .userinfo , .wetherinfo,.Datetime,.timer,.newsApi,.newImg img ,.newTitle ,.Notes{
        width: 60vw;
    }
    .mainsection{
      width: 55.06vw;
    }
    .timer,.newsApi{
      height: 600px
    }
    .forcast{
      width: 57vw;
    }
    .forcasts{
      width: 17vw;
    }
    .startstop{
      width: 38vw;
      margin: 20px auto 0px;
    }
    .Notes div{
      width: 49vw;
    }
    .Notes div textarea{
      
      width: 45vw;
    }
    }

   /* Info */

  /* media 770px */
  /* media 550px */
  @media (max-width:550px) {
  
  .category-item{
    grid-template-columns: 1fr 1fr;
    width: 75vw;
  }
  .items{
  
    grid-template-columns: 1fr;
    margin-bottom:0 ;
  }

  .Databox{
    width: 34vw;
  }
  .userinfo , .wetherinfo,.Datetime,.timer,.newsApi,.newImg img ,.newTitle ,.Notes{
    width: 80vw;
}
.mainsection{
  width: 77.06vw;
}
.timer,.newsApi{
  height: 600px
}
.forcast{
  width: 80vw;
}
.forcasts{
  width: 25vw;
}
.startstop{
  width: 67vw;
  margin: 20px auto 0px;
}
.timerseciton{
  width: 62vw;
}
.Notes div{
  width: 49vw;
}
.Notes div textarea{
  
  width: 45vw;
}
.moviecategory{
  
  grid-template-columns:1fr 1fr;
  gap:15px;
}

}
  /* media 550px */
  /* media 378px */

@media (max-width:378px){
  .choose-text h2{
    font-size: 58px;
  }
  .choose-text h1{
    font-size: 44px;
  }
  .category-section{
   width: 90vw;
  }
  .category-item{
    width: 86vw;
  }
  .Databox{
    width: 39vw;
  }
  
  .userimg, .userimg img{
    width: 60px;
  }
  .userinfo , .wetherinfo,.Datetime,.timer,.newsApi,.newImg img ,.newTitle ,.Notes{
    width: 93vw;
}
.mainsection{
  width: 91.06vw;
  gap: 0;
}
.timer,.newsApi{
  height: 600px
}
.forcast{
  width: 90vw;
}
.forcasts{
  width: 28vw;
}
.startstop{
  width: 73vw;
  margin: 20px auto 0px;
}
.timerseciton{
  width: 67vw;
}
.Notes div{
  width: 75vw;
}
.Notes div textarea{
  
  width: 75vw;
}
.timerseciton {
  width: 79vw;
}
.moviecategory{
  
  grid-template-columns:1fr 1fr;
  gap:15px;
}

}
  /* media 380px */