@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Dangrek&family=Delius+Unicase:wght@400;700&family=Inter:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@500&family=Poppins&family=Raleway:wght@400;600;700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM+Sans',sans-serif;
}
body{
    width: 100%;
    background-color: #000;
}
/* Register Index page style start */
.bgimgsection{
  background:url(./assets/Rock.png), lightgray 0px -49.673px / 100% 113.358% no-repeat;
}
.Rockimg{
    margin: 550px 84px 0px 62px;
}
.Rockimg h1{
    color: #FFF;
    font-family: 'Roboto',sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 141.688%; /* 77.928px */
    letter-spacing: 1.1px;
}
.AppTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-top: 10px; */
  }
  .AppTitle h1 {
    color: #72db73;
    font-family: "Single Day", cursive;
    font-size: 65px;
    font-weight: 400;
    line-height: 94px;
  }
  .AppTitle p {
    font-family: "DM Sans";
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .term-privacy {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    width: 518px;
    margin: 0 auto;
    margin-top: 25px;
    color: #7c7c7c;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
  }
  .term-privacy span {
    color: #72db73;
  }

  /* Register Index page style end */
  
  /* Info  page style start */
  
  .choose-text h2{
    color: #72db73;
    font-family: 'Single Day',cursive;
    font-size: 65px;
    font-weight: 400;
    line-height: 94px;
    margin-bottom: 12px;
}
.choose-text h1{
    color: #FFF;
    font-family: 'Roboto',sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 77.928px */
    letter-spacing: 1.1px;
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:27px;
    margin-bottom: 30px;
    
}
.min-category{
    color: #f00;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.503px;
    
}

.category-item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:25px;
  width: 560px;
  margin: 0 auto;
}
.Nextpage{
    display: grid;
    margin: 20px 75px;
    place-items: end;
}
.Nextpage button {
  all: unset;
  padding: 15px;
  text-align: center;
  font-family: "DM Sans";
  font-size: 26px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  border-radius: 38.857px;
  background: #148A08;
  cursor: pointer;
}

  /* Info  page style end */

 

  
  